doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap" rel="stylesheet")        
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        
        title= title
    body
        header 
            span.header-icon.material-icons.md-48 reorder
            if !user
                .login 
                    span
                        a(href="/auth/signin") Iniciar sesion
                    span.material-icons.login-icon account_circle
            .actions
                span
                    p Acciones
                span.nav-icon.material-icons keyboard_arrow_down
            nav.nav.nav-off
                ul.list 
                    li.list-item
                        a.link(href="#") Reservar una cita
                            //- span.sub-menu-icon.material-icons keyboard_arrow_down
                        ul.list.sub-menu
                            li.list-item.sub-menu-item 
                                a.link(href="/dates/Depilacion/create") Depilación
                            li.list-item.sub-menu-item 
                                a.link(href="/dates/cosmetologia/create") Cosmetología
                            li.list-item.sub-menu-item 
                                a.link(href="/dates/manicuria/create") Maicuria/pedicuria
                            li.list-item.sub-menu-item 
                                a.link(href="/dates/maquillaje/create") Maquillaje
                    li.list-item
                        a.link(href="/dates") Ver mis citas
                    li.list-item
                        a.link(href="#") Sobre nosotros
                    if user 
                        li.list-item
                            a.link(href="/auth/logOut") Cerrar sesion

    
    block content
    script(src="/scripts/layout.js" defer)



