doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap" rel="stylesheet")        
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        title= title
    body
        header 
            .header_top 
                .logo 
                    img(src="/images/Logo.png", alt="logo empresa")
                .phrase 
                    p "El lugar donde resaltas tu belleza natural"
            
            .container_menu 
                span.material-icons.reorder#reorder reorder
                .menu 
                    nav
                        ul#nav  
                            li.home.reorder
                                span.material-icons.home#home home
                            if !user
                                li
                                    a(href="#") Iniciar sesión
                            li
                                a(href="#") Pedir una cita
                                ul 
                                    li
                                        a(href="#") masajes
                                    li
                                        a(href="#") depilación
                                    li
                                        a(href="#") maquillaje
                                    li
                                        a(href="#") cosmetología
                                    li
                                        a(href="#") manicura/pedicura

                            li
                                a(href="") ver mis citas
                            li
                                a(href="") sobre nosotros
                            if user
                                li
                                    a(href="") cerrar sesión

    block content 
    script(src= '/scripts/layout.js' defer)