extends layout 

block content           
  main 
    if error
      .error
        p= error
    div.center
      h2 Inicia sesión para comenzar
      form(action="" method="POST")
        div.txt-field
          input#email(type="email" name="email" required="true")
          span 
          label(for="email") Email
        div.txt-field
          input#password(type="password" name="password" required="true")
          span 
          label(for="password") Contraseña 
        button.btn(type="submit") Iniciar sesion

        div.signup-link 
          p ¿No tienes una cuenta? Regístrate 
            a(href="/auth/signup")  aquí 