doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/user_detail.css")
        title= title
    body 
        table
            tr 
                th Nombre completo 
                th Email 
                th Num. celular 
            tr 
                td #{user.fullname}
                td #{user.username} 
                td #{user.id}