@use "globals" as g;

header {
    position: relative;
    // display: flex;
    height: 60px;
    background-color: g.$primary-color;
    h1 {
        display: none;
        color: g.$secondary-color;
    }
    .header-icon {
        position: absolute;
        color: g.$secondary-color;
        font-size: 36px;
        left: 10px;
        line-height: 60px;
        cursor: pointer;
    }
    .login{
        position: absolute;
        right: 5px;
        height: 60px;
        width: max-content;
        span{
            height: 60px;
            vertical-align: middle;
            a{
                text-decoration: none;
                color: g.$secondary-color;
            }
        }
        
        .login-icon {
            font-size: 24px;
            color: g.$secondary-color;
            line-height: 60px;
            margin-left: 5px;
        }
            
    }
    .actions{
        display: none;
    }
    .nav-on,
    .nav-off {
        position: absolute;
        z-index: 200;
        left: 0;
        top: 60px;
        width: max-content;
        height: fit-content;
        padding: 0;
        background-color: g.$secondary-color;
        color: g.$primary-color;
        box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 10px;
        transition: .5s;
        .list {
            position: relative;
            z-index: 200;
            margin: 0;
            padding: 0;
            width: 150px;
            list-style: none;
            .list-item {
                margin-top: 5px;
                margin-left: 5px;
                margin-right: auto;
                height: 50px;
                text-align: left;
                .link {
                    text-decoration: none;
                    color: #333;
                    line-height: 50px;
                }
            }
            .sub-menu {
                display: none;
                .sub-menu-item {
                    position: relative;
                }
            }
            .sub-menu--visible {
                position: absolute;
                top: -5px;
                background-color: var(--white);
                box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 10px;
                transition: .5s;
                display: initial;
                right: -150px;
            }
        }
    }
    .nav-off {
        left: -500px;
        transition: .5s;
    }

}
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: g.$primary-color;
    color: g.$secondary-color;
    width: 100%;
}
@media screen and(min-width: 700px){
    header{
        height: 80px;
        h1 {
            display: initial;
            line-height: 80px;
            margin-left: 5px;
            color: g.$secondary-color;
        }
        .header-icon{
            display: none;
        }
        .login{
            position: absolute;
            right: 160px;
            top: 0;
            width: 150px;
            height: 80px;
            text-align: center;
            span{
                line-height: 80px;
            }
        }
        .actions{
            display: initial;
            position: absolute;
            top: 0;
            right: 5px;
            width: 150px;
            height: 80px;
            text-align: center;
            p{
                display: inline;
                font-weight: 500;
                cursor: pointer;
            }
            span{
                height: 80px;
                vertical-align: middle;
                color: g.$secondary-color;
            }
            .material-icons{
                line-height: 80px;
            }
        }

        .nav-off{
            position: absolute;
            top: 80px;
            left: 100px;
            .sub-menu{
                display: initial;
                position: absolute;
                left: -500px;
            }
        }

    }
}