:root{
    --pink: #ff99cc;
    --white: #e9f4fb;
}
body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: rgb(240, 239, 239);
}
main{
    position: relative;
    min-height: 100vh;
    z-index: 0;
}
header{
    position: relative;
    display: flex;
    height: 60px;
    width: auto;
    background-color: var(--white);
}
h1{
    display: none;
    color: var(--pink);
}
.header-icon{
    position: absolute;
    color: var(--pink);
    font-size: 36px;
    left: 10px;
    line-height: 60px;
    cursor: pointer;
}
.nav-icon{
    display: none;
    color: var(--pink);
}
.nav-p{
    display: none;
    color: var(--pink);
}
.nav-on, .nav-off{
    position: absolute;
    z-index: 200;
    left: 0;
    top: 60px;
    width: max-content;
    height: fit-content;
    padding: 0;
    background-color: var(--white);
    color: var(--pink);
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 10px;
    transition: .5s;
}
.nav-off{
    left: -500px;
    transition: .5s;
}
.list{
    position: relative;
    z-index: 200 !important;
    margin: 0;
    padding: 0;
    width: 150px;
    list-style: none;
}
.list-item{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: auto;
    height: 50px;
    text-align: left;
}
.link{
    text-decoration: none;
    color: #333;
    line-height: 50px;
}
.sub-menu{
    display: none;
}
.sub-menu-item{
    position: relative;
}
.sub-menu--visible{
    position: absolute;
    top: -5px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 10px;
    transition: .5s;
    display: initial;
    right: -150px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white);
    color: var(--pink);
    width: 100%;
}
@media only screen and (min-width: 700px){
    header{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    height: 80px;
    width: auto;
    background-color: var(--white);
    color: var(--pink);
}
.success-popup{
    display: inline;
    margin-top: 85px;
}
.header-icon{
    display: none;
}
h1{
    position: absolute;
    left: 20px;
    display: initial;
    color: var(--pink);
}
.nav-icon{
    position: absolute;
    display: initial;
    margin-left: 5px;
    line-height: 80px;
    font-size: 36px;
    color: var(--pink)
}
.nav-off{
    position: absolute;
    left: auto;
    right: 2%;
    top: 0;
    width: 200px;
    height: 80px;
    padding: 0;
    box-shadow: none;
    transition: none;
    cursor: pointer;
    overflow: hidden;
}
.nav-p{
    display: initial;
    line-height: 80px;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: var(--pink);
}
.list{
    position: absolute;
    width: 150px;
    height: fit-content;
    background-color: var(--white);
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 0px 0px;
    z-index: 1000;
}
.sub-menu{
    box-shadow: none;
    transition: .5s;
    opacity: 0;
    z-index: -200;
}
.sub-menu--visible{
    right: 150px;
    opacity: 1;
}
.nav-off:hover{
    overflow: visible;
}
.list-item{
    margin-left: 0;
    margin-top: 5px;
    height: 50px;
}
.list-item:hover{
    background: #c9c8c8;
    color: black;
}
.link{
    line-height: 50px;
    padding-left: 10px;
}


}

