@use "globals" as g;
@forward "grids";
@forward "messages";
@forward "forms";
@forward "layout";

body {
    box-sizing: border-box;
    margin: 0;
    font-family: g.$primary-font;
    background-color: g.$secondary-color;
}

main {
    min-height: 100vh;
    z-index: 0;
}